.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
scratch/
*.swp
.Rproj.user
*.Rproj
.Rhistory
assets/*.html
README.html
.~*
seqtk_sample/
docs/lab_meetings
path_surveil_data
.RData
deleteme/
tests/output/
test_profiles_out/
.nf-test.log
assets/main_report/.quarto
assets/main_report/_book
assets/main_report/_site
assets/main_report/*_files
assets/main_report/*.html
assets/main_report/*.ipynb
assets/main_report/packages.bib
