/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/pathogensurveillance/'
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

profiles {
    cqls {
        singularity.enabled = true
        process { executor = 'slurm' }
        executor { queueSize = 100 }
        env {
            http_proxy = 'http://10.224.64.23:3128'
            https_proxy = 'http://10.224.64.23:3128'
            JAVA_TOOL_OPTIONS = '-Dhttp.proxyHost=10.224.64.23 -Dhttp.proxyPort=3128 -Dhttps.proxyHost=10.224.64.23 -Dhttps.proxyPort=3128'
        }
        singularity.runOptions = '-B /scratch:/tmp,/scratch'
        singularity.envWhitelist = ['SINGULARITY_TMPDIR']

        params {
            aligner = 'bwa'
            data_dir = "test_path_surveil_data"
        }
    }
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
