/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile bordetella_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile of 51 Bordetella pertussis isolates'
    config_profile_description = 'Test profile of 51 Bordetella pertussis isolates sequenced with with Illumina and Nanopore from Wagner et al. 2023'

    // Input data
    input = params.pipelines_testdata_base_path + 'samplesheets/bordetella.csv'
}
