/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile xanthomonas,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Complex profile for testing'
    config_profile_description = 'Complex profile used to find bugs and test input data parsing'

    // Input data
    input = 'tests/data/metadata/chaos_samples.csv'
    reference_data = 'tests/data/metadata/chaos_references.csv'
    outdir = 'tests/output/chaos'
    download_bakta_db = true
}

