/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile xanthomonas,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Complex diagnostic profile for testing'
    config_profile_description = 'Complex diagnostic profile used to find bugs and to review report outputs'

    // Input data
    sample_data = 'test/data/metadata/complex_small.csv'
    outdir = 'test/output/complex_small'
    download_bakta_db = true
}

