/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/plantpathsurveil -profile high_complexity_kpneumoniae,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile of K. pneumoniae samples from Bioproject PRJEB2111'
    config_profile_description = 'Test profile of K. pneumoniae samples from Bioproject PRJEB2111'

    // Input data
    sample_data = 'test/data/metadata/high_complexity_kpneumoniae.csv'
    outdir = 'test/output/high_complexity_kpneumoniae'
    download_bakta_db = true
}

process {

    withName: BAKTA_BAKTADBDOWNLOAD {
        ext.args = '--type light'
    }

}
