params {
    config_profile_name        = 'Test profile of mixed samples that use most major abilites of the piepline'
    config_profile_description = 'Test profile of mixed samples that use most major abilites of the piepline'

    // Input data
    sample_data = 'test/data/metadata/mixed.csv'
    reference_data = 'test/data/metadata/mixed_references.csv'
    out_dir = 'test/output/mixed'
    download_bakta_db = true
}
