/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/plantpathsurveil -profile mycobacteroides,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile of 36 bacterial strains from three different Bioprojects, PRJEB12668 (N. meningitides dataset), PRJNA523365 (M. abscesses dataset), and PRJEB2111 (K. pneumoniae)'
    config_profile_description = 'Test profile of 36 mixed bacterials strains'

    // Input data
    input  = '/test/data/metadata/mixed_bacteria.csv'
    outdir = 'test/output/mixed_bacteria'
    download_bakta_db = true
}
