params {
    config_profile_name        = 'Test profile of mixed samples that use most major abilites of the piepline'
    config_profile_description = 'Test profile of mixed samples that use most major abilites of the piepline'

    // Input data
    input = 'tests/data/metadata/mixed.csv'
    reference_data = 'tests/data/metadata/mixed_references.csv'
    outdir = 'tests/output/mixed'
    download_bakta_db = true
}
