/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/plantpathsurveil -profile mixed,<docker/singularity> --out_dir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile of mixed (fungi, oomycete, bacteria, nematode) SRA files'
    config_profile_description = 'Test profile of mixed (fungi, oomycete, bacteria, nematode) SRA files'

    // Input data
    sample_data = 'test/data/metadata/mixed.csv'
    out_dir = 'test/output/mixed'
    download_bakta_db = true
}
