/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/plantpathsurveil -profile mycobacteroides,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile of 31 Mycobacteroides abscessus samples from Bioproject PRJNA523365'
    config_profile_description = 'Test profile of 31 Mycobacteroides abscessus samples from Bioproject PRJNA523365'

    // Input data
    input  = 'test/data/metadata/mycobacteroides.csv'
    outdir = 'test/output/mycobacteroides'
    download_bakta_db = true
}
