/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/plantpathsurveil -profile mycobacteroides_small,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile of 3 Mycobacteroides abscessus samples from Bioproject PRJNA523365'
    config_profile_description = 'Test profile of 3 Mycobacteroides abscessus samples from Bioproject PRJNA523365'

    // Input data
    input  = 'test/data/metadata/mycobacteroides_small.csv'
    outdir = 'test/output/mycobacteroides_small'
    download_bakta_db = true
}

process {

    withName: PIRATE {
        ext.args = '--steps 50,60' // This is probably not a good setting, but it makes it fast enough for testing
    }

    withName: BAKTA_BAKTADBDOWNLOAD {
        ext.args = '--type light'
    }

}
