/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/plantpathsurveil -profile ppluvialis,<docker/singularity> --out_dir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile containing P. pluvialis read files from UK, US, and NZ'
    config_profile_description = 'Test profile containing P. pluvialis read files from UK, US, and NZ'

    // Input data
    sample_data = 'test/data/metadata/ppluvialis.csv'
    out_dir = 'test/output/ppluvialis'
    download_bakta_db = true
}
