/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile salmonella_N566,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Salmonella full dataset profile for testing'
    config_profile_description = 'Salmonella full dataset profile used to find bugs and to review report outputs'

    // Input data
    input = 'tests/data/metadata/salmonella_sample_data_val_N566.csv'
    outdir = 'tests/output/salmonella_N566_out'
    reference_data = 'tests/data/metadata/salmonella_ref_data_val.csv'
    n_ref_species = 0
    n_ref_genera = 0
    n_ref_closest = 0
    n_ref_closest_named = 0
    n_ref_context = 0
    n_ref_strains = 0
}
