/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile serratia_small,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile of 10 serratia isolates'
    config_profile_description = 'Test profile of 10 serratia isolates from Williams et al. 2022 (https://doi.org/10.1038/s41467-022-32929-2)'

    // Input data
    input = params.pipelines_testdata_base_path + 'samplesheets/serratia.csv'
    reference_data = params.pipelines_testdata_base_path + 'samplesheets/serratia_refs.csv'
    max_samples = 10
    n_ref_species = 0
    n_ref_genera = 0
    n_ref_closest = 0
    n_ref_closest_named = 0
    n_ref_context = 0
    n_ref_strains = 0
}
