/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/plantpathsurveil -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    // max_cpus   = 2
    // max_memory = '6.GB'
    // max_time   = '6.h'

    // Input data
    input  = 'https://raw.githubusercontent.com/grunwaldlab/pathogensurveillance/master/test/data/metadata_small.csv'
    outdir = "${projectDir}/test/output_small"
    //bakta_db = "${projectDir}/assets/bakta_db/db-light"
    download_bakta_db = true
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/timeline_report.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/trace_report.tsv"
    overwrite = true
    fields    = "task_id,hash,native_id,process,tag,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
}

process {

    withName: PIRATE {
        ext.args = '--steps 50,60' // This is probably not a good setting, but it makes it fast enough for testing
    }

    withName: BAKTA_BAKTADBDOWNLOAD {
        ext.args = '--type light'
    }

}
