/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile test_salmonella_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile of 566 salmonella isolates'
    config_profile_description = 'Test profile of 566 salmonella isolates from Hawkey et al. 2024 (https://doi.org/10.1038/s41467-024-54418-4)'

    // Input data
    input = params.pipelines_testdata_base_path + 'samplesheets/salmonella.csv'
    reference_data = params.pipelines_testdata_base_path + 'samplesheets/salmonella_refs.csv'
    n_ref_closest = 0
    n_ref_closest_named = 0
    n_ref_context = 0
    n_ref_strains = '0'
    n_ref_species = '0'
    n_ref_genera = '0'
}

