/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile testserratia_38,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Serratia subset profile for testing'
    config_profile_description = 'Serratia subset profile used to find bugs and to review report outputs'

    // Input data
    sample_data = 'test/data/metadata/testserratia_38.csv'
    outdir = 'test/output/testserratia_38'
    download_bakta_db = true
}

