/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile test,<docker/singularity> --out_dir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile with 5 xanthomonas isolates'
    config_profile_description = 'Test profile with 5 Xanthomonas isolates'

    // Input data
    sample_data = 'https://raw.githubusercontent.com/nf-core/pathogensurveillance/dev/test/data/metadata/xanthomonas_small.csv'
    download_bakta_db = true
}
