/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile test_full,<docker/singularity> --out_dir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile simulating a selection of isolates received from a diagnostic clinic.'
    config_profile_description = 'Full test profile simulating a selection of isolates received from a diagnostic clinic.'

    // Input data
    sample_data = 'test/data/metadata/complex_dataset_minimal.csv'
    download_bakta_db = true
}
