/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Test profile with 6 samples'
    config_profile_description = 'Minimal test dataset to check full pipeline function'

    // Input data
    input = params.pipelines_testdata_base_path + 'samplesheets/test.csv'
    phylo_max_genes = 20
    n_ref_closest = 1
    n_ref_closest_named = 1
    n_ref_context = 3
    n_ref_strains = '1'
    n_ref_species = '3'
    n_ref_genera = '3'
}
