/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile test_boxwood_blight,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile of 5 samples of the boxwood blight fungus'
    config_profile_description = 'Test profile of 5 samples of the boxwood blight fungus Cylindrocladium buxicola from LeBlanc et al. 2020 (https://doi.org/10.1094/PHYTO-06-20-0219-FI)'

    // Input data
    input = params.pipelines_testdata_base_path + 'samplesheets/boxwood_blight.csv'
    max_samples = 5
    phylo_max_genes = 100
    n_ref_closest = 1
    n_ref_closest_named = 1
    n_ref_context = 7
    n_ref_strains = '1'
    n_ref_species = '5'
    n_ref_genera = '100%'
}
