/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a test data set
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pathogensurveillance -profile test_mycobacteroides_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
params {
    config_profile_name        = 'Test profile of 31 Mycobacteroides abscessus samples'
    config_profile_description = 'Test profile of 31 Mycobacteroides abscessus samples from Bronson et al. 2021 (https://doi.org/10.1038/s41467-021-25484-9)'

    // Input data
    input = params.pipelines_testdata_base_path + 'samplesheets/mycobacteroides.csv'
}
