.sidebar h2 {
  font-size: 130% !important;
}

.sidebar > nav > ul > li .nav-link {
  font-size: 120% !important;
}

.sidebar > nav > ul > li > ul > li .nav-link {
  font-size: 110% !important;
  color: #888888;
}

.sidebar > nav > ul > li > ul > li > ul > li .nav-link {
  font-size: 90% !important;
  color: #888888;
}

h1 {
  border-bottom: 3px solid #666666 !important;
}

h1.title {
  border-bottom: 0px !important;
  text-align: center;
  font-size: 2.5em;
}

.content > section {
  padding-bottom: 50px;
}

.zoomist-wrapper {
  background-color: white !important;
}

.zoomist-image {
  display: flex;
}

.zoomist-wrapper img {
  height: auto;
  max-height: min(80vh, 1200px);
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.html-widget {
  height: auto !important;
  max-height: min(80vh, 1200px) !important;
}
